:root {
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --gap: 24px;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --backdrop: rgba(46, 47, 66, 0.4);
  --modal: #fcfcfc;
  --light-slate: #8e8f99;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.container {
  /* width: 1158px; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header {
  background-color: var(--white);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.header-logo-studio {
  color: var(--navy-blue);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover {
  color: var(--ocean);
}
.header-link:focus {
  color: var(--ocean);
}

.header-item {
  position: relative;
}
.header-link.active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.active-page {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}
.header-container-address {
  display: flex;
  gap: 40px;
}
.header-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover {
  color: var(--ocean);
}
.header-mail:focus {
  color: var(--ocean);
}
.header-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover {
  color: var(--ocean);
}
.header-tel:focus {
  color: var(--ocean);
}

/* Section 1 */
.section-1-container {
  display: flex;
  gap: 24px;
}
.sectiofirst-background {
  background: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.hero-container {
  text-align: center;
}
.sectionfirst {
  padding-top: 120px;
}
.sectionfirst-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 48px;
  align-items: center;
  width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.sectionfirst-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sectionfirst-btn:hover {
  background-color: var(--ocean);
}
.sectionfirst-btn:focus {
  background-color: var(--ocean);
}
.sectionfirst-heading {
}

.sectionfirst-item {
  width: 264px;
  justify-content: center;
  align-items: center;
}
.sectionfirst-img {
  height: 112px;
  background: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.sectionfirst-icon {
}
.sectionfirst-img-1 {
}
.sectionfirst-img {
  background: var(--cloud);
  border-radius: 4px;
  width: 264px;
  height: 112px;
}
.sectionfirst-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  margin-top: 8px;
}
.sectionfirst-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  width: 264px;
  height: 72px;
}

/* Section 2 */
.sectionsecond {
}
.sectionsecond-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.sectionsecond-item {
}
.sectionsecond-img {
  display: flex;
  gap: 24px;
}
.sectionsecond-img-computer {
}
.sectionsecond-img-phone {
}
.sectionsecond-img-phonetwo {
}

/* Section 3 */
.sectionthird-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* padding-left: 82px;
  padding-right: 82px; */
}
.sectionthird {
  background: var(--cloud);

}
.sectionthird-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.sectionthird-item {
    flex-basis: calc((100% - 72px) / 4);
  flex-basis: 100%;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.sectionthird-img-boyone {
  background: url(man-with-laptop-presenting-something.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;

}
.people {
  padding: 32px 0;
}
.people-last{
  padding: 32px 0;
}
.sectionthird-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.sectionthird-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-top: 8px;
}
.sectionthird-img-boytwo {
  background: url(img-2.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sectionthird-img-girl {
  background: url(young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sectionthird-img-boythird {
  background: url(confident-handsome-guy-posing-against-white-wall.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.people-soc {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.people-soc-item {
  min-width: 40px;
  min-height: 40px;
}
.people-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-soc-link:hover,
.people-soc-link:focus {
  background-color: var(--ocean);
}

/* Section 4 */
.sectionfour-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.customers-soc {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-soc-item {
  width: 168px;
  height: 88px;
}
.customers-soc-link:hover,
.customers-soc-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-soc-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-soc-link:hover .customers-soc-icon:focus {
  fill: var(--ocean);
}
.customers-soc-link:focus .customers-soc-icon:hover {
  fill: var(--ocean);
}

/* Footer */
.footer-background {
  background: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  margin-top: 17.5px;
  width: 264px;
  height: 72px;
}
.footer-container {
  display: flex;
}
.footer-two {
  margin-left: 120px;
  margin-right: 80px;
}
.soc-footer {
  display: flex;
  gap: 16px;
}
.footer-three {

}
.footer-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.soc-item-footer {
  width: 40px;
  height: 40px;
}

.people-soc-link-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.people-soc-link-footer:hover,
.people-soc-link-footer:focus {
  background-color: #31d0aa;
}

/* Portfolio*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section1-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section1-h1 {
}
.button {
  list-style: none;
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.button-roll {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border: transparent;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-roll:hover {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.button-roll:focus {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

/* card-set */
.card-set {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: -48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set > .section-portfolio-item {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: 48px;
}
.card-set:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--cloud);
  background-color: var(--iris);
  padding: 40px 32px 164px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-photo:hover .overlay,
.portfolio-photo:focus .overlay {
  transform: translateY(0%);
}

.section-portfolio-item * {
  overflow: hidden;
}
.section-portfolio {
}
.portfolio-photo {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-photo:hover,
.portfolio-photo :focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-img-bank-app {
  left: 0px;
  top: 0px;
  background: url(4074365.jpg);
  mix-blend-mode: normal;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-top: 8px;
  height: 24px;
}
.section-img-qr {
  background: url(4.png);
  mix-blend-mode: normal;
}
.section-img-mac {
  background: url(tp238-pf-s73-05-mockup.jpg);
  mix-blend-mode: normal;
}
.section-img-wheel {
  background: url(female-taxi-driver-paying-attention-road.jpg);
}
.section-img-screen {
  background: url(2105.w026.n002.440B.p0.440.jpg);
  mix-blend-mode: normal;
}
.section-img-girl-courses {
  background: url(charming-short-haired-lady-gray-hat-standing-beside-wall-with-smartphone.jpg);
  mix-blend-mode: normal;
}
.section-img-stories {
  background: url(6418424.jpg);
}
.section-img-food {
  background: url(pexels-photo-7262897.jpg);
  mix-blend-mode: normal;
}
.section-img-coffe {
  background: url(pexels-chevanon-photography-302897.jpg);
  mix-blend-mode: normal;
}
.card-content {
  padding: 32px 16px 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  width: 408px;
  min-height: 576px;
  position: absolute;
  background-color: var(--modal);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding-left: 24px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--white);
  background-color: var(--ocean);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.modal-name{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate);
margin-bottom: 4px;
}
.modal-name-label{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--light-slate);
}
.modal-input {
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px 11px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.footer-input {
  box-sizing: border-box;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--navy-blue);
  width: 264px;
  height: 40px;
  margin-right: 24px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  color: var(--white);
}
.footer-input::placeholder {
  color: var(--white);
}
.footer-btn {
  font-family: inherit;
  font-style: normal;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  text-align: center;
  padding: 8px 24px 8px 24px;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--ocean);
}

.send-icon {
  fill: var(--white);
  margin-left: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-button {
  display: flex;
}
.send-icon:hover,
.send-icon:focus {
  background-color: var(--ocean);
}
.modal-label-name{
  display: block;
  margin-bottom: 8px;
}
.modal-label{
  display: block;
  margin-bottom: 8px;
}

.modal-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
}
.modal-name-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}
.modal-label-comment{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--light-slate);
  display: block;
}
.modal-label span {
  display: block;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--navy-blue);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}


.modal-text {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  display: block;
}
.modal-text:focus {
  border-color: #4d5ae5;
  color: var(--navy-blue)}

.privacy-text{
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-top: 16px;
  display: flex;
}
.privacy-text::before{
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.privacy-text-a{
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--iris);
  margin-left: 2px;
}
.modal-button{
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding: 16px 32px 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: var(--ocean);
}
.modal-button:focus {
  background-color: var(--ocean);
}
.input-check:checked + .privacy-text::before{
  background-color: var(--ocean);
  background-image: url(../images/privacy-ok.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .container {width: 426px;}
}
@media screen and (min-width: 768px) {
  .container {width: 742px;}
  .sectionthird-item{
    flex-basis: calc((100% - 24px) / 2);
  }
}


