:root {
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --gap: 24px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img{
  display: block;
}
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header {
  background-color: var(--white);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container{
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.header-logo-studio {
  color: var(--navy-blue);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-link:hover {
  color: var(--ocean);
}
.header-link:focus {
  color: var(--ocean);
}
.header-address {
  font-style: normal;
}
.header-container-address{
  display: flex;
  gap: 40px;
}


.header-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-mail:hover {
  color: var(--ocean);
}
.header-mail:focus {
  color: var(--ocean);
}
.header-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-tel:hover {
  color: var(--ocean);
}
.header-tel:focus {
  color: var(--ocean);
}

/* Section 1 */
.section-1-container{
  display: flex;
  gap: 24px;
}




.sectiofirst-background {
  background: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-container{
  text-align: center;
}
.sectionfirst {
  padding-top: 120px;
}
.sectionfirst-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 48px;
  align-items: center;
  width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.sectionfirst-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px 16px 32px;
}
.sectionfirst-btn:hover {
  background-color: var(--ocean);
}
.sectionfirst-btn:focus {
  background-color: var(--ocean);
}
.sectionfirst-heading {
}
.sectionfirst-item {
}
.list {
}
.sectionfirst-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-bottom: 8px;
}
.sectionfirst-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  width: 264px;
  height: 72px;
}

/* Section 2 */
.sectionsecond {
}
.sectionsecond-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  padding-bottom: 72px;
}
.sectionsecond-item {
}
.list {}
.sectionsecond-img{
  display: flex;
  gap: 24px;
}
.sectionsecond-img-computer {
  background: url(2368.jpg);
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sectionsecond-img-phone {
  background: url(2225.jpg);
  border: 1px solid var(--cornflower);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sectionsecond-img-phonetwo {
  background: url(photo-1545235617-7a424c1a60cc.jpg);
  border: 1px solid var(--cornflower);
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Section 3 */
.sectionthird-container{
  display: flex;
  gap: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  height: 380px;
}




.sectionthird {
  background: var(--cloud);
}
.sectionthird-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  padding-bottom: 72px;
}
.list {
}
.sectionthird-item {
  background-color: var(--white);
}
.sectionthird-img-boyone {
  background: url(man-with-laptop-presenting-something.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sectionthird-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 32px;
}
.sectionthird-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding-bottom: 32px;
  padding-top: 8px;

}
.sectionthird-img-boytwo {
  background: url(img-2.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sectionthird-img-girl {
  background: url(young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sectionthird-img-boythird {
  background: url(confident-handsome-guy-posing-against-white-wall.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer-background {
  background: var(--navy-blue);
  height: 312px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.link {
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  margin-top: 17.5px;;
  width: 264px;
  height: 72px;
}

/* Portfolio*/
.section1-h1{
}
.button {
  list-style: none;
  padding-bottom: 72px;
  display: flex;
  gap: 24px;
  padding-top: 96px;
  align-items: center;
  justify-content: center;
}
.button-roll {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border: transparent;
}
.button-roll:hover {
  color: var(--white);
  background: var(--ocean);
}
.button-roll:focus {
  color: var(--white);
  background: var(--ocean);
}

/* card-set */

.card-set{
padding: 0;
margin: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
margin-left: calc(-1 * var(--gap));
margin-top: -48px;
}

.card-set > .section-portfolio-item{
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: 48px;
}




.section-portfolio {
}

.portfolio-photo {
}
.section-img-bank-app {
  left: 0px;
  top: 0px;
  background: url(4074365.jpg);
  mix-blend-mode: normal;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-img-qr {
  background: url(4.png);
  mix-blend-mode: normal;
}
.section-img-mac {
  background: url(tp238-pf-s73-05-mockup.jpg);
  mix-blend-mode: normal;
}
.section-img-wheel {
  background: url(female-taxi-driver-paying-attention-road.jpg);
}
.section-img-screen {
  background: url(2105.w026.n002.440B.p0.440.jpg);
  mix-blend-mode: normal;
}
.section-img-girl-courses {
  background: url(charming-short-haired-lady-gray-hat-standing-beside-wall-with-smartphone.jpg);
  mix-blend-mode: normal;
}
.section-img-stories {
  background: url(6418424.jpg);
}
.section-img-food {
  background: url(pexels-photo-7262897.jpg);
  mix-blend-mode: normal;
}
.section-img-coffe {
  background: url(pexels-chevanon-photography-302897.jpg);
  mix-blend-mode: normal;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.img{
}
.footer-container{
 padding-top: 100px;
 padding-bottom: 100px;
}